body{
    font-family: cursive;
}

p{
   text-indent:2em; 
}

.withScroll{
    overflow-y:scroll;
    height:50vh;
    
}

.withScroll thead th{
    position:sticky;
    top:-0.2vh;
    background-color: lightblue;
}

header{
    background-image: url(uscap.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-blend-mode:overlay;
}





